

    <div class="row">

    <div class="column left" style="background-color:rgb(250, 250, 250)">
      <img class="myProfilePic" src="assets/me.jpg" alt=""/>
      <p style="color: rgb(136, 153, 166)">{{userName}}</p> 
      <input type="text" value="Post a new Tweet.." class="postATweet" style="color: rgb(136, 153, 166);margin-left: 10px;"/>
    &nbsp; <button style=" border: 2px solid rgb(136, 153, 166);font-size: 12px;" class="btn" id="postTweet">Post Tweet</button>
    </div>

    <div class="column right">
<ul>
    <li *ngFor="let i of names;">
<div class="container">
    <article class="card">
      <div class="header">
        <img src="assets/me.jpg" alt="" />
        <div class="header-text">
            <span class="name">~{{i}}~</span>
          <span class="nickname">@{{i}}</span>
        </div>
      </div>
      <span [innerHTML]="text1 "></span>
      <span [innerHTML]="text2"></span>
      <a href="#" class="card-link" (click)="replies()">show replies</a>
      <span>{{likes}}<i class="bi bi-heart-fill" (click)="like()"></i></span>  
    </article>
  </div>
  <ul *ngIf="showReplies">
    <li *ngFor="let r of replyList" >
      <article class="card" style="background-color: white">
      <p class="card-body">{{r}}</p>
    </article>
    </li>
  </ul>
</li>
</ul>
</div>
</div>